StampMonitorLogicApp.json
{
    "$connections": {
        "value": {
            "azuretables": {
                "connectionId": "",
                "connectionName": "azuretables",
                "id": ""
            },
            "outlook": {
                "connectionId": "",
                "connectionName": "outlook",
                "id": ""
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Filter_out_expired_stamps": {
                "inputs": {
                    "from": "@body('Parse_JSON')?['stamps']",
                    "where": "@greater(item()?['ttl'], 0)"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Query"
            },
            "Filter_out_notified_stamps": {
                "inputs": {
                    "from": "@body('Filter_out_expired_stamps')",
                    "where": "@not(contains(variables('Notified Stamp IDs'), item()?['stamp_id']))"
                },
                "runAfter": {
                    "Filter_out_expired_stamps": [
                        "Succeeded"
                    ]
                },
                "type": "Query"
            },
            "For_each_notified_stamp_ID": {
                "actions": {
                    "Append_to_array_variable": {
                        "inputs": {
                            "name": "Notified Stamp IDs",
                            "value": "@items('For_each_notified_stamp_ID')?['PartitionKey']"
                        },
                        "runAfter": {},
                        "type": "AppendToArrayVariable"
                    }
                },
                "foreach": "@body('Get_entities')?['value']",
                "runAfter": {
                    "Initialize_variable_notified_stamps": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "For_each_stamp": {
                "actions": {
                    "Insert_Entity": {
                        "inputs": {
                            "body": {
                                "PartitionKey": "@{items('For_each_stamp')?['stamp_id']}",
                                "RowKey": "@{encodeUriComponent(items('For_each_stamp')['name'])}"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/Tables/@{encodeURIComponent('StampsNotified')}/entities"
                        },
                        "runAfter": {
                            "Send_an_email": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Send_an_email": {
                        "inputs": {
                            "body": {
                                "Body": "@{items('For_each_stamp')?['description']}\nClaim at http://www.mariomarathon.com/passport.html",
                                "Importance": "Normal",
                                "IsHtml": false,
                                "Subject": "New Stamp: @{items('For_each_stamp')?['name']}",
                                "To": "address@example.com"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['outlook']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/Mail"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Filter_out_notified_stamps')",
                "runAfter": {
                    "Filter_out_notified_stamps": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_entities": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Tables/@{encodeURIComponent('StampsNotified')}/entities",
                    "queries": {
                        "$select": "PartitionKey, RowKey"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "HTTP": {
                "inputs": {
                    "method": "GET",
                    "uri": "https://mario-hunt.herokuapp.com/hunt/mm18/stamp"
                },
                "runAfter": {
                    "For_each_notified_stamp_ID": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_variable_notified_stamps": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Notified Stamp IDs",
                            "type": "Array"
                        }
                    ]
                },
                "runAfter": {
                    "Get_entities": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "properties": {
                            "stamps": {
                                "items": {
                                    "properties": {
                                        "claim_code": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "hidden": {
                                            "type": "boolean"
                                        },
                                        "hunt_id": {
                                            "type": "string"
                                        },
                                        "img_src": {
                                            "type": "string"
                                        },
                                        "mod_notes": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "stamp_id": {
                                            "type": "string"
                                        },
                                        "ttl": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "claim_code",
                                        "description",
                                        "hidden",
                                        "hunt_id",
                                        "img_src",
                                        "mod_notes",
                                        "name",
                                        "stamp_id",
                                        "ttl"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    }
}